@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 8px 16px;
}

#messages > li:nth-child(odd) {
  background-color: #efefef;
}

#message-form {
  background-color: #000;
  padding: 5px;
  display: flex;
  height: 48px;
  box-sizing: border-box;
  gap: 10px;
  max-width: 600px;
  margin: auto;
  margin-top: 10px;
}

#username,
#message {
  border: none;
  padding: 0 16px;
  border-radius: 10px;
  font-size: 100%;
}

#username:focus,
#message:focus {
  outline: none;
}

#message {
  flex-grow: 1;
}

input[type="submit"] {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #0284c7;
  font-weight: bold;
  color: #fff;
}